/* -------------------------- Global Style -------------------------- */
html, body
{
    margin:0;
    font-size: 24px;
    background: #EEEEF3; 
}

a, a:hover, a:focus, a:active
{
    text-decoration: none;  /*default link = ada garis bawah, nah dg seperti ini buat ilangin garis bawah */
    outline: none; /*remove blue outline on bootstrap link & button*/
}

button, button:hover, button:focus, button:active
{
   outline: none; /*remove blue outline on bootstrap link & button*/ 
}

header
{
    background: #FFF;
    padding: 20px 0 15px 0; /*urutannya: top, right, bottom, left*/
}

.navbar
{
    margin-bottom: 0; /* defaultnya "margin-bottom: 20px", ini dijadiin 0 supaya gada jarak */
}

header .contact
{
    font-size: 18px;
    color: #9A9697;
    line-height: 56px; /* ini di set 56px mengikuti tingginya logo supaya berada pas di tengah-tengah */
}

/* footer */
footer
{
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
}

/* footer navigasi */
footer .navbar ul
{
    width: 100%;
}
footer .navbar ul li
{
    background: #FFF;
    border: 1px solid rgba(181, 181, 181, 0.5);
    width: 33%;
}
/* agar tepat 100%, maka navigasi ke-2 di buat 34% karena 100% = 33+34+33 */
footer .navbar ul li:nth-child(2)
{
    width: 34%;
    border-left: none;
    border-right: none;
}

/* berikan lekukan sebelah kiri di navigasi pertama */
footer .navbar ul li:first-child,
footer .navbar ul li:first-child a
{
    border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
}
/* berikan lekukan sebelah kanan di navigasi pertama */
footer .navbar ul li:last-child,
footer .navbar ul li:last-child a
{
     border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;   
}

/* ganti warna background ketika navigasi aktif */
footer .navbar ul li.active
{
    background: #EFEFEF;
}
/* tentukan ukuran navigasi, warna navigasi dan buat agar text ke tengah */
footer .navbar ul li a
{
    font-size: 20px;
    color: #A0A0A0;
    font-weight: 400;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* back button on secondary page */
footer .back-button
{
    font-size: 24px;
    font-weight: 300;
    color: #646464;
    vertical-align: middle;
}
footer .back-button span
{
    display: inline-block;
    vertical-align: middle;
}
footer .back-button img
{
    margin-right: 10px;
}

/* modal */
.modal
{
    background: rgba(0, 0, 0, 0.4);
}
.modal-dialog
{
    width: 350px;
    margin-top: 12%;
}

.modal-header,
.modal-footer
{
    border: none;
    padding: 10px 15px;
}
.modal-body
{
    padding: 0 30px;
}


.modal-header .modal-close
{
    font-weight: 500;
    color: #F02525;
    font-size: 14px;
}


.modal-body h1
{
    font-weight: 500;
    color: #000000;
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.modal-body p
{
    color: #757575;
    font-size: 18px;
}

.modal-body a
{
    color: #757575;
}


/* breadcrumb : navigasi sebuah halaman 
    ini perlu diupdate karena default breadcrumb boostrap tidak sesuai dengan desain
*/
.breadcrumb
{
    background: transparent;
    margin: 0;
    margin-bottom: 20px;
    padding: 20px 0;
    font-size: 14px;
    color: #BABABA;
}

.breadcrumb li
{
    color: #BABABA;
}

.breadcrumb>.active
{
    color: #919191;
}

.breadcrumb>li+li:before {
    content: "/\00a0";
    content: "\e258";
    font-family: 'Glyphicons Halflings';
    font-size: 12px;
    padding: 0 5px;
    color: #ccc;
}


/* -------------------------- End of Global -------------------------- */

/* -------------------------- Page: Homepage -------------------------- */
.logo-operator
{
    height: 90px;
    line-height: 90px;
}

section.product-list
{
    margin: 20px 0 20px 0;
    max-height: 73vh;
    overflow-y: auto;
    overflow-x: hidden;
}

section.product-list .btn
{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;

    margin-bottom: 25px;
}
    section.product-list .btn:hover,
    section.product-list .btn:focus,
    section.product-list .btn:active
    {
        background: #B4B4B4;
    }

section.product-list .btn img
{
    max-height: 85px;
}
/* -------------------------- End of Homepage -------------------------- */

/* -------------------------- Page: Topup Product -------------------------- */
section.topup-product
{

}

section.topup-product h1
{
    margin-top: 0;
    font-size: 35px;
    color: #95989A;
    font-weight: 500;
}

section.topup-product .form-group
{
    position: relative;
}
section.topup-product .form-group label
{
    font-size: 23px;
    font-weight: 300;
    color: #95989A;
    display: block;
}
section.topup-product .form-group input
{
    width: 100%;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

    outline: none;
    border: 1px solid #C7C7C7;
    color: #7C7B7B;
    font-size: 27px;

    padding: 5px;
    padding-left: 45px; /* 45px disiapkan untuk input icon */
}

section.topup-product .input-bg:before
{
    content: '';
    width: 22px;
    height: 37px;

    position: absolute;
    bottom: 6px;
    left: 10px;
    background: url('../img/icon_phone.png') no-repeat;
}
/* -------------------------- End of Topup Product -------------------------- */


/* -------------------------- Start Responsive -------------------------- */
@media (min-width: 1200px) {
  .container {
        width: 1024px;
    }
}
/* -------------------------- End of Responsive -------------------------- */