/* -------------------------- Global Style -------------------------- */
html, body
{
    margin:0;
    font-size: 24px;
    background: #EEEEF3; 
}

a, a:hover, a:focus, a:active
{
    text-decoration: none;  /*default link = ada garis bawah, nah dg seperti ini buat ilangin garis bawah */
}

header
{
    background: #FFF;
    padding: 20px 0 15px 0; /*urutannya: top, right, bottom, left*/
}

.navbar
{
    margin-bottom: 0; /* defaultnya "margin-bottom: 20px", ini dijadiin 0 supaya gada jarak */
}

header .contact
{
    font-size: 18px;
    color: #9A9697;
    line-height: 56px; /* ini di set 56px mengikuti tingginya logo supaya berada pas di tengah-tengah */
}

/* footer */
footer
{
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
}

/* footer navigasi */
footer .navbar ul
{
    width: 100%;
}
footer .navbar ul li
{
    background: #FFF;
    border: 1px solid rgba(181, 181, 181, 0.5);
    width: 33%;
}
/* agar tepat 100%, maka navigasi ke-2 di buat 34% karena 100% = 33+34+33 */
footer .navbar ul li:nth-child(2)
{
    width: 34%;
    border-left: none;
    border-right: none;
}

/* berikan lekukan sebelah kiri di navigasi pertama */
footer .navbar ul li:first-child,
footer .navbar ul li:first-child a
{
    border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
}
/* berikan lekukan sebelah kanan di navigasi pertama */
footer .navbar ul li:last-child,
footer .navbar ul li:last-child a
{
     border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;   
}

/* ganti warna background ketika navigasi aktif */
footer .navbar ul li.active
{
    background: #EFEFEF;
}
/* tentukan ukuran navigasi, warna navigasi dan buat agar text ke tengah */
footer .navbar ul li a
{
    font-size: 20px;
    color: #A0A0A0;
    font-weight: 400;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* -------------------------- End of Global -------------------------- */

/* -------------------------- Page: Homepage -------------------------- */
.logo-operator
{
    height: 90px;
    line-height: 90px;
}

section.product-list
{
    margin: 20px 0 20px 0;
    max-height: 73vh;
    overflow-y: auto;
    overflow-x: hidden;
}

section.product-list .btn
{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;

    margin-bottom: 25px;
}
    section.product-list .btn:hover,
    section.product-list .btn:focus,
    section.product-list .btn:active
    {
        background: #B4B4B4;
    }

section.product-list .btn img
{
    max-height: 85px;
}
/* -------------------------- End of Homepage -------------------------- */


/* -------------------------- Start Responsive -------------------------- */
@media (min-width: 1200px) {
  .container {
        width: 1024px;
    }
}
/* -------------------------- End of Responsive -------------------------- */