/* -------------------------- Global Style -------------------------- */
html, body
{
    margin:0;
    font-size: 24px;
    background: #EEEEF3; 
}

a, a:hover, a:focus, a:active
{
    text-decoration: none;  /*default link = ada garis bawah, nah dg seperti ini buat ilangin garis bawah */
    outline: none; /*remove blue outline on bootstrap link & button*/
}

button, button:hover, button:focus, button:active
{
   outline: none; /*remove blue outline on bootstrap link & button*/ 
}

header
{
    background: #FFF;
    padding: 20px 0 15px 0; /*urutannya: top, right, bottom, left*/
}

.navbar
{
    margin-bottom: 0; /* defaultnya "margin-bottom: 20px", ini dijadiin 0 supaya gada jarak */
}

header .contact
{
    font-size: 18px;
    color: #9A9697;
    line-height: 56px; /* ini di set 56px mengikuti tingginya logo supaya berada pas di tengah-tengah */
}

/* footer */
footer
{
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
}

/* footer navigasi */
footer .navbar ul
{
    width: 100%;
}
footer .navbar ul li
{
    background: #FFF;
    border: 1px solid rgba(181, 181, 181, 0.5);
    width: 33%;
}
/* agar tepat 100%, maka navigasi ke-2 di buat 34% karena 100% = 33+34+33 */
footer .navbar ul li:nth-child(2)
{
    width: 34%;
    border-left: none;
    border-right: none;
}

/* berikan lekukan sebelah kiri di navigasi pertama */
footer .navbar ul li:first-child,
footer .navbar ul li:first-child a
{
    border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
}
/* berikan lekukan sebelah kanan di navigasi pertama */
footer .navbar ul li:last-child,
footer .navbar ul li:last-child a
{
     border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;   
}

/* ganti warna background ketika navigasi aktif */
footer .navbar ul li.active
{
    background: #EFEFEF;
}
/* tentukan ukuran navigasi, warna navigasi dan buat agar text ke tengah */
footer .navbar ul li a
{
    font-size: 20px;
    color: #A0A0A0;
    font-weight: 400;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* back button on secondary page */
footer .back-button
{
    font-size: 24px;
    font-weight: 300;
    color: #646464;
    vertical-align: middle;
}
footer .back-button span
{
    display: inline-block;
    vertical-align: middle;
}
footer .back-button img
{
    margin-right: 10px;
}

/* modal */
.modal
{
    background: rgba(0, 0, 0, 0.4);
}
.modal-dialog
{
    width: 350px;
    margin-top: 12%;
}

.modal-header,
.modal-footer
{
    border: none;
    padding: 10px 15px;
}
.modal-body
{
    padding: 0 30px;
}


.modal-header .modal-close
{
    font-weight: 500;
    color: #F02525;
    font-size: 14px;
}


.modal-body h1
{
    font-weight: 500;
    color: #000000;
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.modal-body p
{
    color: #757575;
    font-size: 18px;
}

.modal-body a
{
    color: #757575;
}


/* breadcrumb : navigasi sebuah halaman 
    ini perlu diupdate karena default breadcrumb boostrap tidak sesuai dengan desain
*/
.breadcrumb
{
    background: transparent;
    margin: 0;
    /*margin-bottom: 20px;*/
    padding: 20px 0;
    font-size: 14px;
    color: #BABABA;
}

.breadcrumb li
{
    color: #BABABA;
}

.breadcrumb>.active
{
    color: #919191;
}

.breadcrumb>li+li:before {
    content: "/\00a0";
    content: "\e258";
    font-family: 'Glyphicons Halflings';
    font-size: 12px;
    padding: 0 5px;
    color: #ccc;
}

/* btn */
.btn.btn-primary
{
    background: #F02525;
    color: #FFF;
    border: none;

    -webkit-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.16)
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active
{
    background: #C31F1F;
    color: #FFF;
}


/* -------------------------- End of Global -------------------------- */

/* -------------------------- Page: Homepage -------------------------- */
.logo-operator
{
    height: 90px;
    line-height: 90px;
}

section.product-list
{
    margin: 20px 0 20px 0;
    max-height: 73vh;
    overflow-y: auto;
    overflow-x: hidden;
}

section.product-list .btn
{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;

    margin-bottom: 25px;

    -webkit-box-shadow: 0 2px 10px 0px rgba(100, 100, 100, 0.16);
    -moz-box-shadow: 0 2px 10px 0px rgba(100, 100, 100, 0.16);
    box-shadow: 0 2px 10px 0px rgba(100, 100, 100, 0.16);
}
    section.product-list .btn:hover,
    section.product-list .btn:focus,
    section.product-list .btn:active
    {
        background: #B4B4B4;
    }

section.product-list .btn img
{
    max-height: 85px;
}
/* -------------------------- End of Homepage -------------------------- */

/* -------------------------- Page: Topup Product -------------------------- */
section.topup-product
{

}

section.topup-product h1
{
    margin-top: 0;
    font-size: 26px;
    color: #95989A;
    font-weight: 500;
}

.form-group
{
    position: relative;
}
.form-group label
{
    font-size: 23px;
    font-weight: 300;
    color: #95989A;
    display: block;
}
.form-group input
{
    width: 100%;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

    outline: none;
    border: 1px solid #C7C7C7;
    color: #7C7B7B;
    font-size: 27px;

    padding: 5px;
    padding-left: 45px; /* 45px disiapkan untuk input icon */
}

.form-group.input-bg:before
{
    content: '';
    width: 25px;
    height: 37px;

    position: absolute;
    bottom: 6px;
    left: 10px;
    background: url('../img/icon_phone.png') no-repeat;
}
.form-group.input-bg.input-phone:before
{
    background: url('../img/icon_phone.png') no-repeat;
}
.form-group.input-bg.input-password:before
{
    background: url('../img/icon_password.png') no-repeat;
}

.form-group .operator
{
    position: absolute;
    right: 10px;
    bottom: 8px;
}

.form-group .operator img
{
    max-height: 35px;
}

/* topup-nominal */
section.topup-product .topup-nominal
{
    margin-top: 50px;
}

section.topup-product .topup-nominal
{
    font-size: 23px;
    color: #95989A;
    font-weight: 300;
}

section.topup-product .topup-nominal .btn
{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;

    margin-bottom: 15px;

    color: #F02525;
    font-size: 25px;
    white-space: normal;

    -webkit-box-shadow: 0 2px 10px 0px rgba(100, 100, 100, 0.16);
    -moz-box-shadow: 0 2px 10px 0px rgba(100, 100, 100, 0.16);
    box-shadow: 0 2px 10px 0px rgba(100, 100, 100, 0.16);
}
section.topup-product .topup-nominal .btn p
{
    margin-bottom: 0;
    padding: 10px 0;
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
    width: 100%;
}
    section.topup-product .btn:hover,
    section.topup-product .btn:focus,
    section.topup-product .btn:active
    {
        background: #F02525;
        color: #FFF;
    }
/* -------------------------- End of Topup Product -------------------------- */

/* -------------------------- Page: Confirmation -------------------------- */
.confirmation-area
{
    margin: 0 auto;
    float: none;
}
section.confirmation h1
{
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 26px;
    color: #95989A;
}
    .confirmation-info
    {
        margin-bottom: 15px;
    }
    .confirmation-info-top
    {
        background: transparent url('../img/bg_coupon_top.png') repeat center;
        width: 100%;
        height: 10px;
    }
    .confirmation-info-content
    {
        padding: 20px 30px;
        background: #FFF;
        position: relative;
    }
        .confirmation-info-content .operator
        {
            position: absolute;
            top: 10px;
            right: 15px;
        }
        .confirmation-info-content .operator img
        {   
            max-width: 100px;
            max-height: 34px;
        }
    .confirmation-info-bottom
    {
        background: transparent url('../img/bg_coupon_bottom.png') repeat center;
        width: 100%;
        height: 10px;
    }

.info-topup
{
    padding: 5px 0;
    border-bottom: 1px solid rgba(213, 213, 213, 0.7);
}
.info-topup:last-child
{
    border: none;
    padding-bottom: 0;
}

.info-topup label
{
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    color: #95989A;
}
.info-topup p
{
    font-size: 26px;
    font-weight: 500;
    margin: 0;
    color: #9D9D9D;
}
.info-topup .price
{
    color: #F02525;
}

section.confirmation .confirmation-form input
{
    width: 100%;
}
/* -------------------------- End of Confirmation -------------------------- */

/* -------------------------- Page: Complete -------------------------- */
.complete-area
{
    margin: 0 auto;
    float: none;
}

section.complete .complete-info
{
    margin-top: 25%;  
    margin-bottom: 20px;
    padding: 30px;
    background: #FFF;  
    text-align: center;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    -webkit-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.16);
}
section.complete .complete-info h1
{
    font-size: 40px;
    font-weight: 600;
    color: #58595B;
    margin-bottom: 0;
}
section.complete .complete-info p.sub-headline
{
    font-size: 18px;
    font-weight: 400;
    color: #BABABA;
}
section.complete .complete-info p
{
    font-size: 23px;
    color: #6F6969;
}

/* -------------------------- End of Complete -------------------------- */

/* -------------------------- Icon Operator -------------------------- */
/* dipersiapkan jikalau page sprite*/
.operator.operator-xl:before
{

}
.operator.operator-simpati:before
{

}
.operator.operator-kartuas:before
{

}
.operator.operator-im3:before
{

}
.operator.operator-mentari:before
{

}
.operator.operator-tri:before
{

}
.operator.operator-axis:before
{

}
.operator.operator-pln:before
{

}
/* -------------------------- End of Icon Operator -------------------------- */

/* -------------------------- Start Responsive -------------------------- */
@media (min-width: 1200px) {
  .container {
        width: 1024px;
    }
}
/* -------------------------- End of Responsive -------------------------- */